# Environment
.env
config/custom_backends.json

# Uploads
/uploads/*
!/uploads/.gitkeep

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
